/* ------------------------------
        Media Query 
    ---------------------------*/
/* ----------------------
        Mobile device 
    --------------------*/
@media only screen and (max-width:688px){
    
.header{
    margin-bottom: 50px;
    width: 100%;
}
.top-header{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 50px;
}

    
}