/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* header section */
.top-header{
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
}
.logo a{
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.navigation nav ul{
    list-style: none;
}
.navigation nav ul li{
    display: inline-block;
    margin-left: 35px;
}
.navigation nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #3A3A3A;
}
.navigation nav ul li a:hover{
    color: #807f7f;
}
.icon i{
    font-size: 24px;
}