/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header section */

.header{
    margin-bottom: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.logo{
    margin-top: 15px;
}

.logo a{
    font-size: 24px;
    list-style: none;
    margin-bottom: -20px;
    text-decoration: none;
    color: #3A3A3A;
}

.navigation nav ul{
    list-style: none;
}

.navigation nav ul li{
    display: inline-block;
    margin-left: 35px;
}

.navigation nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #3A3A3A;
}

.navigation nav ul li a:hover{
    color: #807f7f;
}

.icon .cart,.glass{
    font-size: 24px;
}



/* header content */
.header-content{
    display: flex;
    margin: 100px 0;
    padding-left: 120px;
    padding-right: 120px;
}

.half-width{
    width: 45%;
}

.half-width h1{
    font-size: 40px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.half-width p{
    color: #3A3A3A;
    font-size: 16px;
}

.half-width img{
    width: 440px;
    height: 414px;
    position: relative;
}

.half-width img.circle{
    position:absolute;
    right: 150px;
    z-index: -1;
}

.half-width img.camera{
    left: 100px;
}

.main-button{
    margin-top: 30px;
}
.main-button i{
    margin-left: 10px;
}
.button{
    color: #ffffff;
    background-color: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    border-radius: 30px;
}


/* Market section style  */
.market-section{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 100px 165px;
} 
.markets{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 30px 15px;
    align-items: center;
}

/* Popular Collection style */
.popular-collection{
    padding: 0 100px;
}
.collection-titel{
    font-size: 28px;
    color: #3A3A3A;
    margin-bottom: 6px;
    text-align: center;
    margin-bottom: 30px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.collection{
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.collection-image img{
    width: 300px;
    height: 255px;
}
.collection-details h3{
    font-size: 28px;
    color: #18191F;
    margin-bottom: 6px;
}
.collection-details .price{
    font-size: 24px;
    color: #000000de;
    margin-bottom: 0;
}
.collection-info{
    display: flex;
    align-items: center;
}
.collection-info .icon i{
    font-size: 16px;
    color: #FB8200;
}
.collection-info .rating{
    margin-left: 10px;
}
.collection-details small.tiny{
    font-size: 14px;
    color: #787885;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.see-more a{
    color: rgba(224, 44, 109, 0.871);
    text-decoration: none;
}

/* Last Area Style  */
.container{
    display: flex;
    padding: 0 165px;
    margin-top: 120px;
}
.last-image img{
    width: 400px;
    height: 270px;
}
 .last-content{
    margin-left: 100px;
}

/* Footer  */
.ending{
    margin-top: 100px;
    text-align: center;
    background-color: #0A0826;
    color: #ffffff;
    padding: 50px 0;
}
.ending h3{
    font-size: 24px;
}
.ending p{
    font-size: 14px;
    line-height: 10px;
}
.social-icon{
    margin-top: 20px;
}
.social-icon a i{
    margin-left: 15px;
    color: #ffffff;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 50%;
}